/EJERCICIOS INTERFAZ 01/EJERCICIOS INTERFAZ 01/build/
/EJERCICIOS INTERFAZ 01/EJERCICIOS INTERFAZ 01/nbproject/private/
/EJERCICIOS INTERFAZ 02/EJERCICIOS INTERFAZ 02/build/
/EJERCICIOS INTERFAZ 02/EJERCICIOS INTERFAZ 02/nbproject/private/
/JavaFXApplicationExample/nbproject/private/
/JavaFXApplicationExample/build/
/JavaFXApplicationExample/dist/